@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;  

body{
    /* background: linear-gradient( 0.3turn , rgb(0, 0, 0),rgb(108, 10, 97),rgb(0, 0, 0),rgb(108, 10, 97),rgb(0,0,0),rgb(108, 10, 97)); */
    color: orange;
    background: #000;
    
}
/* .card{
    background-image: url("./components//assets/pexel1.jpg");
    background-size: cover;
} */
.card:hover{
    box-shadow:
    -10px 0 40px rgb(255, 255, 255);
}

.sidebar .active{
    width:300px;
    background: #000;
}